@model Pizza
@{
    ViewData["Title"] = "create";
    var pizza = Model;
}

<div class="container-lg mt-5">
	<form method="post" asp-controller="Pizza" asp-action="Create">
		@Html.AntiForgeryToken()

		<div class="mb-3">
			<label asp-for="Name" class="col-form-label">Name</label>
			<input asp-for="Name" class="form-control"/>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description" class="col-form-label">Description</label>
			<textarea asp-for="Description" class="form-control" placeholder="Put here pizza's description..'"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="row g-3">
			<div class="col">
				<label asp-for="Price" class="form-label">Price</label>
				<input asp-for="Price" class="form-control">
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="col">
				<label for="inputState" class="form-label">State</label>
				<select id="inputState" class="form-select">
					<option selected>Choose...</option>
					<option>...</option>
				</select>
			</div>
		</div>

		<div class="mb-3">
			<label asp-for="Image" class="col-form-label">Image</label>
			<input asp-for="Image" class="form-control" />
			<span asp-validation-for="Image" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-dark">Create</button>
	</form>
</div>

